RewriteEngine on
RewriteBase /

Options +MultiViews
AddType application/x-httpd-php .php

RewriteCond %{HTTP_HOST} ^www\.webtypography\.net$
RewriteRule (.*) http://webtypography.net/$1 [R=Permanent]

RewriteRule ^.+/([0-9]+\.[0-9]+\.[0-9]+)$ $1 [R=Permanent]
RewriteRule ^.+/([0-9]+\.[0-9]+\.[0-9]+)/$ $1 [R=Permanent]
RewriteRule ^([0-9]+\.[0-9]+\.[0-9]+)$ item.php?item_num=$1
